<ion-view title="Login">
    <ion-content style="background: #e8ebf1;" class="padding">
        <form id="login-form1" class="list">
            <ion-list id="login-list3">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Nome Negozio</span>
                    <input placeholder="" type="text" ng-model="name">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input placeholder="" type="password">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a id="login-button7" ng-click="login(name)" class="button button-stable button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>