<ion-view view-title="Dettaglio Promozione">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nome promozione</span>
                <input type="text" ng-model="promotion.name">
            </label>
            <label class="item item-input">
                <span class="input-label">Punti necessari</span>
                <input type="number" ng-model="promotion.points">
            </label>
            <label class="item item-input">
                <span class="input-label">Descrizione</span>
                <input type="text" ng-model="promotion.description">
            </label>
            <label class="item">
                <button class="button button-block button-positive" ng-click="modify()">Modifica</button>
            </label>
        </div>
    </ion-content>
</ion-view>